# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
start scoreboard
start playernames
start harmforest
start Redwood
start WeightStation
start map
start k9
start 6meeterrange
start camera
start carhud
start crouch
start disabledispatch
start fingerpoint
start frfuel
start JF_SeatShuffle
start menu
start NeverWanted
start PlateReader
start RealAITraffic
start RealFailure
start RPCommands
start runcode
start savewheelpos
start ToastysCruiseControl
start TowScript
start vSync
start lux_vehcontrol
start wk_wrs
start heli
start 69charger
start 2016-chp-megapack
start bob74_ipl
start Captain14_FBI
start Captain14_LSPD
start Captain14_Sheriff
start CoastBoat
start Customcars
start Custompeds
start fire_fivem
start firecharger
start firecvpi
start gruppe6pack
start Guns
start mule5
start oracle
start polmav
start polstang
start port-police-pack
start sfjrp_bcsopack
start hurkf350
start unmarked-megapack
start unmarked-police-pack
start ivpack


sv_scriptHookAllowed 1

# change this
#rcon_password 123451

sv_hostname "booster test"

# nested configs!
#exec server_internal.cfg

# loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars for use from script
set temp_convar "hey world!"

# disable announcing? clear out the master by uncommenting this
#sv_master1 ""

# want to only allow players authenticated with a third-party provider like Steam?
#sv_authMaxVariance 1
#sv_authMinTrust 5

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000112345678 group.admin # add the admin to the group

# remove the # to hide player endpoints in external log output
#sv_endpointprivacy true

# server slots limit (must be between 1 and 31)
sv_maxclients 30

# license key for server (https://keymaster.fivem.net)
sv_licenseKey fd8eqxbytxuep1ra5lrmfv1xdngz1soq